# Default Chariot Owners for everything in the repo.
# Unless a later match takes precedence,
# @magaldima, @salo1serfati, and @neilshweky will be requested for
# review when someone opens a pull request.
* @magaldima @salo1serfati @neilshweky
