x-fern-pagination: 
  cursor: $request.pageToken
  next_cursor: $response.nextPageToken
  results: $response.results
paths:
  /v1/nonprofit/{ein}:
    get:
      x-fern-sdk-group-name:
        - nonprofits
      x-fern-sdk-method-name: getByEin
  /v1/nonprofits:
    post:
      x-fern-sdk-group-name:
        - nonprofits
      x-fern-sdk-method-name: create
  /v1/nonprofits/{id}:
    get:
      x-fern-sdk-group-name:
        - nonprofits
      x-fern-sdk-method-name: getById
  /v1/connects:
    post:
      x-fern-sdk-group-name:
        - connects
      x-fern-sdk-method-name: create
  /v1/connects/{id}:
    get:
      x-fern-sdk-group-name:
        - connects
      x-fern-sdk-method-name: get
  /v1/grants:
    get:
      x-fern-pagination: true
      x-fern-sdk-group-name:
        - grants
      x-fern-sdk-method-name: list
    post:
      x-fern-sdk-group-name:
        - grants
      x-fern-sdk-method-name: create
  /v1/grants/{id}:
    get:
      x-fern-sdk-group-name:
        - grants
      x-fern-sdk-method-name: get
    patch:
      x-fern-sdk-group-name:
        - grants
      x-fern-sdk-method-name: update
  /v1/unintegrated_grants:
    get:
      x-fern-pagination: true
      x-fern-sdk-group-name:
        - grants
      x-fern-sdk-method-name: list
  /v1/unintegrated_grants/{id}:
    get:
      x-fern-sdk-group-name:
        - grants
      x-fern-sdk-method-name: get
    patch:
      x-fern-sdk-group-name:
        - grants
      x-fern-sdk-method-name: update
  /v1/dafs:
    get:
      x-fern-pagination: true
      x-fern-sdk-group-name:
        - daFs
      x-fern-sdk-method-name: list
  /v1/dafs/{id}:
    get:
      x-fern-sdk-group-name:
        - daFs
      x-fern-sdk-method-name: get
  /v1/events:
    get:
      x-fern-pagination: 
        cursor: $request.cursor
        next_cursor: $response.nextPageToken
        results: $response.results
      x-fern-sdk-group-name:
        - events
      x-fern-sdk-method-name: list
  /v1/events/{id}:
    get:
      x-fern-sdk-group-name:
        - events
      x-fern-sdk-method-name: get
  /v1/event_subscriptions:
    get:
      x-fern-pagination: 
        cursor: $request.cursor
        next_cursor: $response.nextPageToken
        results: $response.results
      x-fern-sdk-group-name:
        - eventSubscriptions
      x-fern-sdk-method-name: list
    post:
      x-fern-sdk-group-name:
        - eventSubscriptions
      x-fern-sdk-method-name: create
  /v1/event_subscriptions/{id}:
    get:
      x-fern-sdk-group-name:
        - eventSubscriptions
      x-fern-sdk-method-name: get
    patch:
      x-fern-sdk-group-name:
        - eventSubscriptions
      x-fern-sdk-method-name: update
  /oauth/token:
    post:
      summary: Request an access token
      description: Obtain an access token using client credentials
      x-fern-sdk-group-name: 
        - auth
      x-fern-sdk-method-name: getToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: The client ID of the application
                client_secret:
                  type: string
                  description: The client secret of the application
                audience:
                  description: The API identifier
                  x-fern-type: literal<"https://api.givechariot.com">
                grant_type:
                  x-fern-type: literal<"client_credentials">
              required:
                - client_id
                - client_secret
                - audience
                - grant_type
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: 
                x-fern-type-name: GetTokenResponse
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer

